body {
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.bluebox {
  width: 250px;
  background-color: hsl(216, 50%, 16%);
  padding: 15px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 1px 5px 0px 5px hsl(215, 63%, 11%);
  box-shadow: 2px 5px 0px 5px hsl(216, 50%, 16%);
}
.main-image {
  margin: auto;
  width: 100%;
  border-radius: 5px;
}
.textone {
  color: white;
  font-size: 18px;
}
.texttwo {
  color: hsl(215, 51%, 70%);
}
hr {
  background-color: hsl(215, 32%, 27%);
  width: 100%;
  height: 1px; 
  border: none;
}
.avatar {
  width: 10%;
  float: left;
  border: 2px solid white;
  margin-right: 10px;
  border-radius: 50%;
}
#james {
  color: white;
}
#james:hover , .textone:hover {
  color: hsl(178, 100%, 50%);
}
.eye-image {
  display: none;
}
.main-image:hover .eye-image{
  display: block;
}